
.main-window {
    -fx-background-color: #fffca8;
}

.cancel-button {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-border-color: red;
    -fx-background-color: #ff7a7a;
    -fx-border-width: 1;
    -fx-font-size: 20 ;
}
.confirm-button {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-border-color: green;
    -fx-background-color: #7aff7a;
    -fx-border-width: 1;
    -fx-font-size: 20 ;
}
.main-window-label {
    -fx-font-size: 20 ;
}

.separator:vertical .line {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.combo-box > .list-cell {
    -fx-alignment: center;
}

.date-picker > .text-field {
    -fx-alignment: center;
}
