
.main-window {
    -fx-background-color: #fffca8;
}

.cancel-button {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-border-color: red;
    -fx-background-color: #ff7a7a;
    -fx-border-width: 1;
}
.confirm-button {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-border-color: green;
    -fx-background-color: #7aff7a;
    -fx-border-width: 1;
}

