/* Classes de thème */
.light-theme {
    -fx-base: #f4f4f4;
    -fx-background: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-text-fill: #000000;

}

.dark-theme {
    -fx-base: #3c3f41;
    -fx-background: #2b2b2b;
    -fx-control-inner-background: #3c3f41;
    -fx-text-fill: #ffffff;

}

/* Styles pour les boîtes de dialogue en mode sombre */
.dark-theme .dialog-pane {
    -fx-background-color: #333333;
}

.dark-theme .dialog-pane .label {
    -fx-text-fill: white;
}

.dark-theme .dialog-pane > .header-panel {
    -fx-background-color: #222222;
}

.dark-theme .dialog-pane > .content.label {
    -fx-text-fill: white;
}

.dark-theme .dialog-pane .button-bar .button {
    -fx-background-color: #444444;
    -fx-text-fill: white;
}

.dark-theme .dialog-pane .button-bar .button:hover {
    -fx-background-color: #555555;
}

.dark-theme .objective-title {
    -fx-text-fill: #e0e0e0;
    -fx-font-weight: 500;
}

.dark-theme .objective-box {
    -fx-background-color: #3c3f41;
}

.dark-theme .progress-bar > .track {
    -fx-background-color: #4d4d4d;
}

.dark-theme .progress-bar > .bar {
    -fx-background-color: #ffc107;
}

.dark-theme .progress-value {
    -fx-text-fill: #8aff8a;
}

/* Améliorer la lisibilité du texte d'introduction en mode sombre */
.dark-theme .intro-text {
    -fx-text-fill: #d0d0d0; /* Gris très clair, presque blanc */
    -fx-opacity: 0.9; /* Un peu plus opaque */
}

/* Styles pour les boîtes de dialogue en mode clair */
.light-theme .dialog-pane {
    -fx-background-color: #f0f0f0;
}

.light-theme .dialog-pane .label {
    -fx-text-fill: #333333;
}

.light-theme .dialog-pane > .header-panel {
    -fx-background-color: #e0e0e0;
}

.light-theme .dialog-pane > .content.label {
    -fx-text-fill: #333333;
}

.light-theme .dialog-pane .button-bar .button {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #333333;
}

.light-theme .dialog-pane .button-bar .button:hover {
    -fx-background-color: #c0c0c0;
}