.calendarRectangle {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
    -fx-fill: white;
    -fx-opacity: 0.2;
}

.timeLabel {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;
}

.addPeriodButton {
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: green;
    -fx-background-color: #7aff7a;
}

.cancelPeriodButton {
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: red;
    -fx-background-color: #ff7a7a;
}

.movePeriodButton {
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: orange;
    -fx-background-color: #ffcb69;
}

.dayNodes {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
    -fx-fill: white;
}

.timer {
    -fx-fill: black;
}

.timer-label {
    -fx-text-fill: white;
}

.timer-start {
    -fx-fill: #7aff7a;
    -fx-stroke: green;
    -fx-stroke-width: 3px;
}

.timer-start-label {
    -fx-text-fill: black;
}

.timer-stop {
    -fx-fill: #ff7a7a;
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}

.timer-stop-label {
    -fx-text-fill: black;
}

.timer-reset {
    -fx-fill: #ffcb69;
    -fx-stroke: #ffa500;
    -fx-stroke-width: 3px;
}

.timer-reset-label {
    -fx-text-fill: black;
}
