.month-label {
    -fx-font-size: 18;
}

.calendar-rectangle {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
    -fx-fill: white;
    -fx-opacity: 0.2;
}

.calendar-rectangle-highlight {
    -fx-fill: grey;
}

.time-label {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;
}

.current-time-label {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.period-button {
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-padding: 0;
}

.cancellable {
    -fx-border-width: 3px;
    -fx-border-color: red;
}

.add-period-button {
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: #002bff;
    -fx-background-color: #c3d6ff;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.add-period-button:pressed {
    -fx-background-color: #3f7cff;
}

.cancel-period-button {
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: #ff0000;
    -fx-background-color: #ffb3b3;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.cancel-period-button:selected {
    -fx-background-color: #ff5252;
}

.period-time-label {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.day-nodes {
    -fx-stroke-width: 1px;
    -fx-stroke: black;
    -fx-fill: white;
}

.timer {
    -fx-fill: black;
}

.timer-label {
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.timer-start {
    -fx-fill: #c9ffc9;
    -fx-stroke: green;
    -fx-stroke-width: 3px;
}

.timer-start:pressed {
    -fx-fill: #37c137;
}

.timer-start-label {
    -fx-text-fill: black;
    -fx-font-size: 15;
}

.timer-stop {
    -fx-fill: #ffb3b3;
    -fx-stroke: #ff0000;
    -fx-stroke-width: 3px;
}

.timer-stop:pressed {
    -fx-fill: #ff5252;
}

.timer-stop-label {
    -fx-text-fill: black;
    -fx-font-size: 15;
}

.timer-reset {
    -fx-fill: #ffe1ab;
    -fx-stroke: #ffa500;
    -fx-stroke-width: 3px;
}

.timer-reset:pressed {
    -fx-fill: #ffc73c;
}

.timer-reset-label {
    -fx-text-fill: black;
    -fx-font-size: 15;
}

/*  Thème sombre pour le calendrier mis par Samir  */

/* Rectangles du calendrier */
.dark-theme .calendar-rectangle {
    -fx-stroke-width: 1px;
    -fx-stroke: #757575;
    -fx-fill: #424242;
    -fx-opacity: 0.4;
}

dark-theme .calendar-rectangle-highlight {
    -fx-fill: grey;
}

/* Labels des heures */
.dark-theme .time-label {
    -fx-border-width: 1px;
    -fx-border-color: #757575;
    -fx-border-style: solid;
    -fx-text-fill: #f5f5f5;
}

.dark-theme .current-time-label {
    -fx-background-color: black;
    -fx-border-color: white;
}

/* Boutons de période */
.dark-theme .period-button {
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-background-radius: 10px;
    -fx-background-insets: 0;
    -fx-border-color: white;
    -fx-text-fill: black; /*Toujours en noir?*/
    -fx-padding: 0;
}

.dark-theme .cancellable {
    -fx-border-color: red;
}

/* Boutons de gestion de période */
.dark-theme .add-period-button {
    -fx-border-color: #002bff;
    -fx-background-color: #183975;
    -fx-text-fill: #f5f5f5;
}

.dark-theme .cancel-period-button {
    -fx-border-color: #f41f1f;
    -fx-background-color: #780700;
    -fx-text-fill: #f5f5f5;
}

.dark-theme .period-time-label {
    -fx-background-color: black;
    -fx-border-color: white;
}

/* Étiquettes des jours */
.dark-theme .day-nodes {
    -fx-stroke-width: 1px;
    -fx-stroke: #757575;
    -fx-fill: #616161;
}

/* Correction du minuteur blanc  */
.dark-theme .timer {
    -fx-fill: #616161;
}

.dark-theme .timer-label {
    -fx-text-fill: #f5f5f5;
}

.dark-theme .timer-start {
    -fx-fill: #105a13;
    -fx-stroke: #23c82c;
    -fx-stroke-width: 3px;
}

.dark-theme .timer-start-label {
    -fx-text-fill: #f5f5f5;
}

.dark-theme .timer-stop {
    -fx-fill: #780700;
    -fx-stroke: #f41f1f;
    -fx-stroke-width: 3px;
}

.dark-theme .timer-stop-label {
    -fx-text-fill: #f5f5f5;
}

.dark-theme .timer-reset {
    -fx-fill: #9f5b00;
    -fx-stroke: #f47913;
    -fx-stroke-width: 3px;
}

.dark-theme .timer-reset-label {
    -fx-text-fill: #f5f5f5;
}

/* Lignes des heures */
.dark-theme Line {
    -fx-stroke: #757575;
}

/* Texte dans les éléments du calendrier */
.dark-theme .day-nodes Label {
    -fx-text-fill: #f5f5f5;
}

/* États des boutons en mode sombre */
.dark-theme .add-period-button:pressed {
    -fx-background-color: #2E7D32;
}

.dark-theme .cancel-period-button:selected {
    -fx-background-color: #c61e14;
}

.dark-theme .timer-start:pressed {
    -fx-fill: #2E7D32;
}

.dark-theme .timer-stop:pressed {
    -fx-fill: #c61e14;
}

.dark-theme .timer-reset:pressed {
    -fx-fill: #d88008;
}

/* Boutons de navigation semaine */
.dark-theme #previousWeekButton, .dark-theme #nextWeekButton {
    -fx-background-color: #616161;
    -fx-text-fill: #f5f5f5;
    -fx-border-color: #757575;
}

.dark-theme #previousWeekButton:hover, .dark-theme #nextWeekButton:hover {
    -fx-background-color: #757575;
}